azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "_generator": {
            "name": "manual",
            "version": "4.0.0"
        },
        "description": "Deploys a Logic App that enriches ServiceNow incidents originating from Microsoft Defender for Cloud with the contextual risk level (Critical/High/Medium/Low/Unknown) of the referenced security assessment, queried from Azure Resource Graph.",
        "prerequisites": "1) A ServiceNow API connection must already exist in the target resource group. 2) The Logic App's system-assigned managed identity must be granted the 'Security Reader' role on all subscriptions listed in arg_subscriptions."
    },
    "parameters": {
        "Logic App name": {
            "defaultValue": "Update-SNow-Incident-With-Risk",
            "type": "String",
            "metadata": {
                "description": "Name for the Logic App resource. Must be unique within the resource group."
            }
        },
        "location": {
            "type": "String",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Azure region where the Logic App will be deployed (e.g., eastus, westeurope, australiaeast). Must match the region of your ServiceNow API connection."
            }
        },
        "arg_subscriptions": {
            "type": "Array",
            "defaultValue": "[createArray(subscription().subscriptionId)]",
            "metadata": {
                "description": "List of Azure subscription IDs that Azure Resource Graph will query for Defender for Cloud assessment data. Include all subscriptions where your Defender for Cloud assessments exist."
            }
        },
        "recurrence_timezone": {
            "type": "String",
            "defaultValue": "UTC",
            "allowedValues": [
                "UTC",
                "Eastern Standard Time",
                "Central Standard Time",
                "Mountain Standard Time",
                "Pacific Standard Time",
                "GMT Standard Time",
                "W. Europe Standard Time",
                "AUS Eastern Standard Time",
                "Tokyo Standard Time",
                "India Standard Time",
                "China Standard Time",
                "Arab Standard Time",
                "E. Africa Standard Time",
                "SA Pacific Standard Time",
                "SE Asia Standard Time"
            ],
            "metadata": {
                "description": "Time zone for the daily recurrence trigger. Defaults to UTC. Select the time zone that matches your operational preference."
            }
        },
        "SNow_API_connection_resource_ID": {
            "type": "String",
            "metadata": {
                "description": "The resource ID of the existing ServiceNow API connection in your Azure subscription. Format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Web/connections/{connectionName}"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Logic App name')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "arg_subscriptions": {
                            "type": "Array"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Day",
                                "timeZone": "[parameters('recurrence_timezone')]"
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Day",
                                "timeZone": "[parameters('recurrence_timezone')]"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "List_SNow_Incidents_Last24h": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['service-now-1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/api/now/v2/table/@{encodeURIComponent('incident')}",
                                "queries": {
                                    "sysparm_display_value": true,
                                    "sysparm_query": "active=true^opened_at>=javascript:gs.minutesAgoStart(1440)^ORDERBYDESCnumber",
                                    "sysparm_limit": 200,
                                    "sysparm_fields": "number,description,state,priority,opened_at,sys_id"
                                }
                            }
                        },
                        "Parse_JSON_SNow": {
                            "runAfter": {
                                "List_SNow_Incidents_Last24h": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('List_SNow_Incidents_Last24h')?['result']",
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "number": {
                                                "type": "string"
                                            },
                                            "opened_at": {
                                                "type": "string"
                                            },
                                            "sys_id": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "priority": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "number",
                                            "sys_id",
                                            "description"
                                        ]
                                    }
                                }
                            }
                        },
                        "For_each_incident": {
                            "foreach": "@body('Parse_JSON_SNow')",
                            "runAfter": {
                                "Parse_JSON_SNow": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "actions": {
                                "Compose_Assessment_Clean": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@trim(replace(first(split(last(split(toLower(replace(coalesce(item()?['description'],''),'&nbsp;',' ')), 'assessment id:')),'\n')),'\r',''))"
                                },
                                "Compose_Assessment_ID": {
                                    "runAfter": {
                                        "Compose_Assessment_Clean": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@if(endsWith(outputs('Compose_Assessment_Clean'), '.'), substring(outputs('Compose_Assessment_Clean'), 0, sub(length(outputs('Compose_Assessment_Clean')), 1)), outputs('Compose_Assessment_Clean'))"
                                },
                                "If_AssessmentId_Present": {
                                    "runAfter": {
                                        "Compose_Assessment_ID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@not(equals(outputs('Compose_Assessment_ID'), ''))",
                                    "type": "If",
                                    "actions": {
                                        "ARG_Query_Assessment": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
                                                "method": "POST",
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "subscriptions": "@parameters('arg_subscriptions')",
                                                    "query": "@{concat('securityresources | where id =~ ''', outputs('Compose_Assessment_ID'), ''' | extend risk_level = tostring(properties.risk.level) | project risk_level')}",
                                                    "options": {
                                                        "$top": 1000
                                                    }
                                                },
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity",
                                                    "audience": "https://management.azure.com"
                                                },
                                                "retryPolicy": {
                                                    "type": "exponential",
                                                    "count": 4,
                                                    "interval": "PT10S",
                                                    "minimumInterval": "PT5S",
                                                    "maximumInterval": "PT1M"
                                                }
                                            }
                                        },
                                        "Update_SNow_Record": {
                                            "runAfter": {
                                                "ARG_Query_Assessment": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['service-now-1']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "body": {
                                                    "comments": "@{if(equals(coalesce(body('ARG_Query_Assessment')?['data']?[0]?['risk_level'], 'Unknown'), 'Unknown'), 'Risk level (MDC): Unknown (no risk level reported for this assessment instance).', concat('Risk level (MDC): ', coalesce(body('ARG_Query_Assessment')?['data']?[0]?['risk_level'], 'Unknown')))}"
                                                },
                                                "path": "/api/now/v2/table/@{encodeURIComponent('incident')}/@{encodeURIComponent(item()?['sys_id'])}",
                                                "queries": {
                                                    "sysparm_display_value": false,
                                                    "sysparm_exclude_reference_link": true
                                                }
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Skip_No_AssessmentId": {
                                                "type": "Compose",
                                                "inputs": "No Assessment id found in description; skipping ARG query."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "arg_subscriptions": {
                        "value": "[parameters('arg_subscriptions')]"
                    },
                    "$connections": {
                        "value": {
                            "service-now-1": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/service-now')]",
                                "connectionId": "[parameters('SNow_API_connection_resource_ID')]",
                                "connectionName": "service-now-1",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}