azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": { "description": "Name of the Logic App (Consumption)" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Deployment location" }
    },
    "serviceNowConnectionName": {
      "type": "string",
      "metadata": { "description": "Name for the ServiceNow connection (Microsoft.Web/connections)" }
    },
    "arg_subscriptions": {
      "type": "array",
      "metadata": { "description": "Subscriptions to query in Azure Resource Graph" }
    }
  },
  "variables": {
    "serviceNowManagedApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/service-now')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('serviceNowConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[parameters('serviceNowConnectionName')]",
        "api": {
          "id": "[variables('serviceNowManagedApiId')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "arg_subscriptions": {
              "defaultValue": [],
              "type": "Array"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "interval": 1,
                "frequency": "Day",
                "timeZone": "Eastern Standard Time"
              }
            }
          },
          "actions": {
            "List_SNow_Incidents_Last24h": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['service-now']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/api/now/v2/table/@{encodeURIComponent('incident')}",
                "queries": {
                  "sysparm_query": "active=true^opened_at>=javascript:gs.minutesAgoStart(1440)^ORDERBYDESCnumber",
                  "sysparm_fields": "number,description,state,priority,opened_at,sys_id",
                  "sysparm_display_value": "true",
                  "sysparm_limit": "200"
                }
              },
              "runAfter": {}
            },
            "Parse_JSON_SNow": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('List_SNow_Incidents_Last24h')?['result']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": { "type": "string" },
                      "opened_at": { "type": "string" },
                      "sys_id": { "type": "string" },
                      "description": { "type": "string" },
                      "state": { "type": "string" },
                      "priority": { "type": "string" }
                    },
                    "required": [ "number", "sys_id", "description" ]
                  }
                }
              },
              "runAfter": {
                "List_SNow_Incidents_Last24h": [ "Succeeded" ]
              }
            },
            "Initialize_variables": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  { "name": "assessment_id", "type": "string" },
                  { "name": "risk_level", "type": "string" },
                  { "name": "snow_sysID", "type": "string" }
                ]
              },
              "runAfter": {
                "Parse_JSON_SNow": [ "Succeeded" ]
              }
            },
            "For_each_incident": {
              "type": "Foreach",
              "foreach": "@body('Parse_JSON_SNow')",
              "runtimeConfiguration": {
                "concurrency": { "repetitions": 5 }
              },
              "runAfter": {
                "Initialize_variables": [ "Succeeded" ]
              },
              "actions": {
                "Set_sys_id": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "snow_sysID",
                    "value": "@item()?['sys_id']"
                  },
                  "runAfter": {}
                },
                "Compose_Description": {
                  "type": "Compose",
                  "inputs": "@coalesce(item()?['description'], '')",
                  "runAfter": { "Set_sys_id": [ "Succeeded" ] }
                },
                "Compose_Assessment_Block": {
                  "type": "Compose",
                  "inputs": "@last(split(toLower(replace(outputs('Compose_Description'),'&nbsp;',' ')), 'assessment id:'))",
                  "runAfter": { "Compose_Description": [ "Succeeded" ] }
                },
                "Compose_Assessment_Line": {
                  "type": "Compose",
                  "inputs": "@first(split(outputs('Compose_Assessment_Block'), '\n'))",
                  "runAfter": { "Compose_Assessment_Block": [ "Succeeded" ] }
                },
                "Compose_Assessment_Clean": {
                  "type": "Compose",
                  "inputs": "@trim(replace(outputs('Compose_Assessment_Line'), '\r', ''))",
                  "runAfter": { "Compose_Assessment_Line": [ "Succeeded" ] }
                },
                "Set_assessment_id": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "assessment_id",
                    "value": "@{if(endsWith(outputs('Compose_Assessment_Clean'), '.'), substring(outputs('Compose_Assessment_Clean'), 0, sub(length(outputs('Compose_Assessment_Clean')), 1)), outputs('Compose_Assessment_Clean'))}"
                  },
                  "runAfter": { "Compose_Assessment_Clean": [ "Succeeded" ] }
                },
                "If_AssessmentId_Present": {
                  "type": "If",
                  "expression": "@not(equals(variables('assessment_id'), ''))",
                  "runAfter": { "Set_assessment_id": [ "Succeeded" ] },
                  "actions": {
                    "ARG_Query_Assessment": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "retryPolicy": {
                          "type": "exponential",
                          "interval": "PT10S",
                          "count": 4,
                          "minimumInterval": "PT5S",
                          "maximumInterval": "PT1M"
                        },
                        "body": {
                          "subscriptions": "@parameters('arg_subscriptions')",
                          "query": "@{concat('securityresources | where id =~ ''', variables('assessment_id'), ''' | extend risk_level = tostring(properties.risk.level) | project risk_level')}",
                          "options": {
                            "$top": 1000
                          }
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://management.azure.com"
                        }
                      }
                    },
                    "Parse_ARG_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('ARG_Query_Assessment')?['data']",
                        "schema": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "risk_level": { "type": "string" }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "ARG_Query_Assessment": [ "Succeeded" ]
                      }
                    },
                    "Set_risk_level": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "risk_level",
                        "value": "@coalesce(body('Parse_ARG_Response')?[0]?['risk_level'], 'Unknown')"
                      },
                      "runAfter": {
                        "Parse_ARG_Response": [ "Succeeded" ]
                      }
                    },
                    "Update_SNow_Record": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['service-now']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "/api/now/v2/table/@{encodeURIComponent('incident')}/@{encodeURIComponent(variables('snow_sysID'))}",
                        "queries": {
                          "sysparm_display_value": false,
                          "sysparm_exclude_reference_link": true
                        },
                        "body": {
                          "comments": "@{if(equals(variables('risk_level'),'Unknown'), 'Risk level (MDC): Unknown (no risk level reported for this assessment instance).', concat('Risk level (MDC): ', variables('risk_level')))}"
                        }
                      },
                      "runAfter": {
                        "Set_risk_level": [ "Succeeded" ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Skip_No_AssessmentId": {
                        "type": "Compose",
                        "inputs": "No Assessment id found in description; skipping ARG query."
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "arg_subscriptions": {
            "value": "[parameters('arg_subscriptions')]"
          },
          "$connections": {
            "value": {
              "service-now": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]",
                "connectionName": "[parameters('serviceNowConnectionName')]",
                "id": "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    },
    "serviceNowConnectionResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]"
    }
  }
}